<p>content works!</p>
<div class="content">
  <h2>Welcome to My Webpage</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac malesuada sapien, in posuere eros.
    Nullam tristique luctus eros a euismod. Duis vel risus vel lectus fringilla feugiat.
  </p>
  <p>
    Nulla quis lorem ut libero malesuada feugiat. Proin eget tortor risus. Sed porttitor lectus nibh.
  </p>
</div>

<hr>
<div id="fancy">
<div class="background-one">
  <div class="link-container">
    <a class="link-one" href="https://jhancock532.github.io/link-hover-effects/">Three</a>
  </div>
</div>
<div class="background-two link-container">
  <a class="link-two" href="https://jhancock532.github.io/link-hover-effects/">Fancy</a>
</div>
<div class="background-three link-container">
  <a class="link-three" href="https://jhancock532.github.io/link-hover-effects/">Links</a>
</div>


</div>
