<img [src]="product.pImage" alt="#">

<p>name : {{name}}</p>
<p>price : ${{price}}</p>
<p>color : {{color}}</p>
<p>discountedPrice : ${{discountedPrice}}</p>
<hr>
<p>name : {{product.phone}}</p>
<p>price : {{'$'+product.price}}</p>
<p>color : {{product.color}}</p>
<!--<p>discountedPrice : {{'$'+price - product.discount}}</p>-->
<p>{{product.inStock>0?'only '+product.inStock+' left':'out of stock'}}</p>
<p>discount% : {{getDiscountedPercentage()+'%'}}</p>
<button [disabled]="product.inStock==0">But Now</button>
<input bind-value="customerName" type="text">
